*{
    margin: 0;
    padding: 0rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    margin: 1rem;
}
header{
    padding-top: 2rem;
    background-color: blanchedalmond;
}
h1{
    border-top: 2px solid rgb(255, 155, 155);
    border-bottom: 2px solid rgb(255, 155, 155);
    padding: 0rem 1rem 0 1rem;
    font-size: xx-large;
    text-align: center;
}
#divheader{
    border-bottom: 1px solid orange ;
    display: flex;
    align-items: center;
}
.img{
    display: flex;
    justify-content: center;
}
img{
    margin: 1rem;
    width: 70%;
    border-radius: 50%;
}
#pheader{
    margin: 1rem;    
    max-width: 100%;
}
p, li, strong{
    font-size: large;
}
.h2Boton{
    background-color:aliceblue;
    border-bottom: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h2Boton div{
    margin-right: 4rem;
}
h2{
    padding: 1rem;
    display: inline-block;
}
.botonOcultar, .botonMostrar{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #55acee;
    font-weight: bold;
}
.divMain{
    background-color: rgb(215, 255, 211);
    border-bottom: 1px solid green;
    padding: 2rem;
}
